roster{
  border-style: solid;
  border: 1px black;
}

rolelist{
  border-style: solid;
  border: 1px black;
}

td{
  width: 150px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
}

#roles{
  float: right;
}

#master{
  float: left;
}

#container{
  display: flex;
}

#container > div{
  display: inline-block;
  padding: 1em;
}

li{
  height: 25px;
  list-style-type: none;
  text-align: center;
}

body{
  font-family: 'Chivo', sans-serif;
  font-size: 15px;
}
