.btn-space {
    margin: 2px;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem
}

.padding{
  margin-top: 5px;
}

#display-information{
  padding: 20px;
  background-color: #333;
  border-color: #333;
}

#teamspeak-output
{
  padding-top: 20px;
  background-color: #333;
  border-color: #333;
}

textarea{
  resize: none;
}
