.penguin-confirm{
  background-color: #5cb85c;
}

.main{
  text-align: left;
}

.alt{
  text-align: left;
}

textarea{
  width: 100%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   cursor: pointer;
}
