.penguin-confirm{
  background-color: #5cb85c;
}

textarea{
  width: 100%;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   cursor: pointer;
}

.nopadding{
  padding: 0;
}

.selected{
  border: 1px solid black;
  background-color: #1af262;
}

a.option{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #292b2c;
}
