.nopadding{
  padding: 0;
}

.selected{
  border: 1px solid black;
  background-color: #1af262;
}

a.option{
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #292b2c;
}

#reddit-settings{
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid black;
}

#reddit-settings > div{
  width: 100%;
  margin: 0;
  padding: 10px;
}

#reddit-settings > div:nth-child(1) > div{
  margin: 0;
}
