* {
    box-sizing: border-box;
}

[class="Header-1"] {
    float: left;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 16.66%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

html {
    font-family: "Lucida Sans", sans-serif;
}