* {
    box-sizing: border-box;
}

[class="Header-0"] {
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 16.66%;
    background-color:#4CAF50!important   
}

[class="Header-1"] {
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 16.66%;
    background-color:#f44336!important
}

[class="Header-2"] {
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 16.66%;
    background-color:#ff5722!important
}

[class="Header-3"] {
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 16.66%;
    background-color:#3a3a3a!important
}

[class="Header-4"] {
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 16.66%;
    background-color:#2196F3!important
}

[class="Header-5"] {
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 16.66%;
    background-color:#9c27b0!important
}

[class="Header-6"] {
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 16.66%;
    background-color:#BFFF00!important
}


[class="Header-7"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#DB7D3E
}

[class="Header-8"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#B350BC
}

[class="Header-9"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#6B8AC9
}

[class="Header-10"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#B1A627
}

[class="Header-11"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#41AE38
}

[class="Header-12"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#D08499
}

[class="Header-13"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#404040
}

[class="Header-14"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#9AA1A1
}

[class="Header-15"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#2E6E89
}

[class="Header-16"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#7E3DB5
}

[class="Header-17"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#2E388D
}

[class="Header-18"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#4F321F
}

[class="Header-19"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#35461B
}

[class="Header-20"] {
    float: left;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
    line-height: 200%;
    width: 7.69%;
    background-color:#963430
}


.row::after {
    content: "";
    clear: both;
    display: block;
}

html {
    font-family: "Lucida Sans", sans-serif;
}