body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  vertical-align: middle;
}

#list li{
  list-style-type: none;
  border: 1px solid black;
}

#list p{
  float: left;
  width: 200px;
}

#list li p, #list li input{
  padding: 5px;
  margin: 0;
  text-align: center;
}

.selected{
  background-color: yellow;
}

#route li{
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#route li:first-child{
  padding-top: 20px;
}

#route p{
  margin: 1px;
  padding: 0;
}

#route li > div:first-child > p{
  font-size: 32px;
  font-weight: 100;
  color: #ffffff;
}

#route li > div:nth-child(2) > p:first-child{
  font-size: 18px;
  font-weight: bold;
}

#route li > div{
  display: table-cell;
  text-align: left;
}

#route li > div:first-child{
  vertical-align: middle;
  width: 40px;
  text-align: center;
  font-size: 24px;
}

#route li > div:nth-child(2){
  width: 300px;
  padding-left: 10px;
}

#route{
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 0;
  padding-bottom: 10px;
}

.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 5px;
  color: #000;
  text-align: center;
  border: 2px solid black;
  background-color: #72a0ea;
}

.bg-circle{
  background-size: cover;
  background-repeat: no-repeat;
}

.barrel{
  background-image: url("images/barrel.png");
}

.well{
  background-image: url("images/bear.png");
}

.bush{
  background-image: url("images/bush.png");
}

.cactus{
  background-image: url("images/cactus.png");
}

.crate{
  background-image: url("images/crate.png");
}

.rock{
  background-image: url("images/rock.png");
}

.toadstool{
  background-image: url("images/toadstool.png");
}

#route li:not(:last-child) .line{
  background-color: #000;
  width: 0px;
  height: 50px;
  right: 8.88cm;
  border: 5px solid black;
  position: absolute;
  z-index: -1;
}
