* {
    box-sizing: border-box;
}

a.button {
	float: left;
	padding: 10px;
	display: block;
	width: 150px;
	height: 65px;
	background: url("./images/button_normal.png") no-repeat center;
}

a.button:active {
	float: left;
	padding: 10px;
	background: url("./images/button_pressed.png") no-repeat center;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

html {
    font-family: "Lucida Sans", sans-serif;
}