.hidden{
  display: none;
}

html, body, .login-background{
  height: 100vh;
}

.login-background{
  background-image: url(login-background.png);
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

#login-screen .col-sm-6 > div{
  padding-top: 25px;
}

#my-signin2 > div{
  margin: 0 auto;
}

/*For players attending to the relavant event*/
.card .row:nth-child(1) p{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
  margin-right: 3px;
}

.card img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align:middle;
}

ul{
  list-style-type: none;
  -moz-column-count: 2;
  -webkit-column-count: 2;
   column-count: 2;
}
