.hidden{
  display: none;
}

#my-signin2 > div{
  margin: 0 auto;
}

/*For players attending to the relavant event*/
.card .row:nth-child(1) p{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
  margin-right: 3px;
}

#main-screen img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

ul{
  list-style-type: none;
}

input[type="file"] {
    display: none;
}
