/*For players attending to the relavant event*/
.card .row:nth-child(1) p{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
  margin-right: 3px;
}

#main-screen img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

ul{
  list-style-type: none;
}

input[type="file"] {
    display: none;
}

#accordion > div{
  margin: 20px;
}

.font{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  position: relative;
  top: 0.2rem;
  left: 0.3rem;
}

.font-date{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.font-title{
  font-family: 'Permanent Marker', cursive;  
}
